
.form-container {
    
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  /* background: linear-gradient(to right, white, white) padding-box, 
              linear-gradient(to right, skyblue, blue) border-box; */
  /* animation: borderAnimation 3s linear infinite; */
}

/* @keyframes borderAnimation {
  0% {
    background: linear-gradient(to right, white, white) padding-box, 
                linear-gradient(to right, skyblue, rgb(81, 81, 174)) border-box;
  }
  50% {
    background: linear-gradient(to right, white, white) padding-box, 
                linear-gradient(to left, skyblue,rgb(81, 81, 174)) border-box;
  }
  100% {
    background: linear-gradient(to right, white, white) padding-box, 
                linear-gradient(to right, skyblue, rgb(81, 81, 174)) border-box;
  }
} */




